In [20]:
Student1 = "Max"
Student2 = "Monika"
Student3 = "Erik"
Student4 = "Franziska"

In [21]:
Student5 = "ABC"

In [22]:
Students = [Student1, Student2, Student3, Student4, Student5]

In [23]:
Students

['Max', 'Monika', 'Erik', 'Franziska', 'ABC']

In [24]:
Students.append("Moritz")

In [25]:
Students

['Max', 'Monika', 'Erik', 'Franziska', 'ABC', 'Moritz']

In [26]:
len(Students)

6

In [28]:
Students[0:2]

['Max', 'Monika']

In [41]:
planete = ["Merkur", "Venus", "Erde", "Mars", "Jupiter", "Saturn", "Uranus", "Neptun"]
p =planete.pop(5)
planete

['Merkur', 'Venus', 'Erde', 'Mars', 'Jupiter', 'Uranus', 'Neptun']

SyntaxError: invalid syntax (Temp/ipykernel_10904/4017538785.py, line 1)

In [44]:
a = "5.5"
b = "6.6"
print(float(a)+ float(b))

12.1

In [49]:
age = 28
print("Ich bin " + str(age) + " Jahre alt" )

Ich bin 28 Jahre alt

In [50]:
Students = [Student1, Student2, Student3, Student4, Student5]

In [51]:
Students

['Max', 'Monika', 'Erik', 'Franziska', 'ABC']

In [52]:
for i in Students:
    print(i)

Max
Monika
Erik
Franziska
ABC

In [55]:
for j in range(len(Students)):
    print(Students[j])

Max
Monika
Erik
Franziska
ABC

In [70]:
students = []
for i in  range(len(Students)):
    students.append(Students[i])
    students.append("#")
students

['Max', '#', 'Monika', '#', 'Erik', '#', 'Franziska', '#', 'ABC', '#']

In [71]:
range(5)

range(0, 5)

In [74]:
import numpy as np
x = np.arange(3)
y = [x * x]
y

[array([0, 1, 4])]